//
// Panels
// --------------------------------------------------


// Base class
.panel {
	background-color: $white;
	overflow: hidden;
	position: relative;
	@include box-sizing(border-box);
	@include box-shadow(0, 0, 3px, 3px, rgba(0, 0, 0, 0.1));
	@include wrapper(965px);
	@include rem("padding", $panel-body-padding);
	@include rem("margin", auto, auto, 67, auto);
}

// Panel heading
.panel-heading {
  border-bottom: 1px solid $black;
	font-family: 'Eurostile';
	@include rem("padding", 0, 0, 4, 0);
	@include rem("margin", auto, auto, 20, auto);
	@include rem("font-size", 20.8);
}

.tab-content .panel-heading {
	@include rem("margin", 50, auto, 20, auto);
}

// Panel contents
.panel-body {
  @include rem("padding", $panel-body-padding);
}

.ie8 {
	.panel {
		filter:progid:DXImageTransform.Microsoft.Glow(color='gray', Strength='5');
	}
}