//-----------------------------------------
// 
// ----------------------------------------

$red:#cc0000;
$white:#e3e3e3;
$gray:#a9a9a9;
$lightGray:#ccc;
$pBlack:#000;
$black:#272423;

$darkBlue:#242f38;
$lightBlue:#b9c3d1;
$orange:#f68d1b;
