//
// BSB Theme specific styles
//
// Home page
// --------------------------------------------------

.logo {
	background:url(/racing/_assets/presentation/bsb-logo.png) no-repeat;
}
.main {
	background: url(/racing/_assets/presentation/bsb-bg.jpg) no-repeat center 0;
}
.intro {
	background: url(/racing/_assets/images/bsb-home-hero.png) no-repeat -84px 123px;
	@include rem("min-height", 430);
}
.promo {
	&:nth-child(1) {
		@include rem("width", 308);
	}
	&:nth-child(2) {
		@include rem("width", 270);
		@include rem("padding", 0, 90, 0, 16);
	}
	&:last-child {
		@include rem("width", 387);
		@include rem("padding", 0, 0, 0, 174);
		p {
			@include rem("padding", 0);
		}
	}
	.video-gallery {
		@include abs-pos(0px, 14px, auto, auto);
	}
	.photo-gallery {
		@include abs-pos(-17px, 26px, auto, auto);
	}
	.experience {
		@include abs-pos(-8px, auto, auto, 21px);
	}
	.promo-copy {
		@include rem("width", 209);
		a {
			@include rem("width", 150);
		}
	}
}

.bsb.bikes {
	.left-side,
	.right-side {
		float: left;
	}
	.specs {
		width: 50%;
		@include rem("margin", 24, auto, auto, auto);
	}
	.race-edition  {
		img {
			@include abs-pos(auto, auto, 10px, 5px);
		}
	}
}

.race-bike img {
	@include center-block;
}

.themachines {
	article {
	  &:nth-child(2) {
		  border-right: 1px solid $mid-grey;
			@include rem("width", 441);
	  }
	  &:nth-child(3) {
			@include rem("padding", 0, 0, 0, $panel-body-padding);
			@include rem("width", 423);
	  }
	}
}

.calendar {
	@include rem("width", 925);
}

#tab1 {
	.results {
		@include rem("width", 925);
	}
}