//
// BTCC Theme specific styles
//
// Home page
// --------------------------------------------------

.logo {
	background:url(/racing/_assets/presentation/btcc-logo.png) no-repeat;
}
.main {
	background: url(/racing/_assets/presentation/btcc-bg.jpg) no-repeat center 0;
}
.btcc.cars {
	.panel {
		position: relative;
	}
	.themachines {
		p {
			@include rem("font-size", 14);
			line-height: 20px;
		}
		img {
			@include rem("margin", 0);
			@include abs-pos(220px, -6px, auto, auto);
			@include rem("width", 662);
		}
		article {
			@include rem("margin", 45, auto, auto, auto);
		}
	}
	.left-side,
	.right-side {
		float: left;
		width: 50%;
	}
	.right-side {
		border-left: 1px solid $mid-grey;
		@include rem("width", 420);
		@include rem("padding", 0, 0, 0, $panel-body-padding);
		@include rem("margin", 160, auto, auto, auto);
	}
	.race-edition  {
		img {
			@include rem("width", 492);
			@include abs-pos(auto, auto, 45px, -6px);
		}
	}
}

.standings {
	.rider-standings {
		img {
			width: inherit;
		}
	}
}

.btcc.raceresults {
	.track {
		img {
			@include rem("width", 400);
			@include rem("padding", 20, 0, 20, 0);
		}
	}	
}

.promo {
	&:nth-child(1) {
		img {
			@include rem("width", 150);
		}
	}
	.video-gallery {
		right: 10px;
	}
	.photo-gallery {
		top: -32px;
	}
	.experience {
		top: 24px;
	}
}

.btcc {
	.promos {
	  @include rem("padding", 0);
		@include rem("margin", auto, auto, 60, auto);
	}
}

.hero {
	@include rem("margin", 19, auto, auto, -203);
}

.home-content {
  @include rem("padding", 0);
}