//
// News & Twitter feeds
// --------------------------------------------------

#recentWork{
  overflow:hidden;
  .even{
    background:#666;
    border:2px solid #ccc;
  	@include gradientBg(white, #cccccc, 30%, #666, 70%, #eaeaea);
	color:#000;
    @include border-radius();
    position:relative;
    //color:#e3e3e3;
  }
  .odd{
  	background:#b5bdc8;
    @include gradientBg(#b5bdc8, #b5bdc8, 30%, #828c95, 70%, #28343b);
    @extend .even;
    border:2px solid #b5bdc8;
    //background: url(../img/blackBG.jpg) no-repeat center fixed;
    //color:$gray;   
  }
  .app{
   		padding:9px 24px;height:690px;margin:10px;  
		 @include border-radius(5px);
	}	
 
  ul{
    padding-left:12px;
  }
}