#twitter{
  color:$darkBlue;
  background:$lightBlue;
  padding:20px;
  overflow:hidden;
  position:relative;
  $downArrow:"\f0dd";
  @include arrDown($downArrow, #ededed, 55px, 55px, 30px, 0, 47%);
  .feed{
    padding-left:0;
  }
  h2{
    padding-top:10px;
    @include background-size($size:120px);
    height:52px;width:187px;
    display:inline-block;position:absolute;
  }
  .twitterBird{
     background-image: url(../img/twitter-bird-sprite.png);
    cursor: pointer;
    display: inline-block;
    height: 125px;
    width: 150px;
    margin-left:185px;
  } 
  span{
    display:block;
    font-size:15px;
    color:$red;
  }
  h3,p{color:$darkBlue;}
  .copy{
    font-size:12px;clear:both;
  }
}

#resources{
  background:$white;
  position:relative;
  $downArrow:"\f0dd";
  @include arrDown($downArrow, #666, 55px, 55px, 30px, 0, 48%);
  padding:40px;
  article > p, article > h2{text-align:center;}
  article{
    margin:0;
    a{display:block;position:absolute;top:10px;left:109px;width:auto;color:$darkBlue;text-decoration:none;
    }
    a:hover{color:$gray;}
    span.details{font-size:0.8em;}
    span.bgSpa{
      display:inline-block;width:73px;height:73px; margin-right:10px;
      position:relative;top:-22px;left:10px; border:2px solid #a9a9a9;
      background:url(../img/profileSprite.png) no-repeat 0 0;
    }

    span.dailyJs{background-position:-1px -969px;}
    span.weeklyJs, span.watchMe, span.underscore{background-position:-3px -1424px;}
    span.nuttut{background-position:-3px -848px;}
    span.htmlRocks{background-position:0px -1084px;height:77px;}
    span.cssTricks{background-position:-2px -731px;}
    span.bboneWeekly{background-position:-2px -1310px;}
    span.angular{background-position:-3px -1197px;}
    span.smashingMagzine{background-position:0px -511px;}
    span.google{background-position:0px -616px;}
    span.cssWiz{background-position:-3px -1520px;height:77px;}

  }
}
 .box-shadow-preview{ 
    padding:5px;
    height: 78px; 
    xwidth: 222px; 
    position: relative; 
    background-color:$lightGray; 
    @include border-radius($radius:2px);
    box-shadow: 0px 7px 16px -3px;
    margin-top:30px; 
    line-height:22px;
} 
.box-shadow-preview:before{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 160px; 
    bottom: 15px; 
    left: 10px; 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg); 
    box-shadow: 0px 15px 10px #777777; 
} 
.box-shadow-preview:after{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 50%; 
    top: 100px; 
    right: 2px; 
    bottom: 15px; 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
    box-shadow: 0px 15px 10px #777777; 
} 
